body{
    font-family: 'Poppins', 'Inter',sans-serif;

}




header{
    background-color: black;
    color:#fff;
}


    

.grass{
    background-image: url(/assets/Images/image\ 1.png);
    background-position: center;
    background-size: contain;
    
}