body{
    font-family: 'Poppins', 'Inter',sans-serif;

}




header{
    background-color: black;
    color:#ffffff;
    padding: 10px 50px;
    padding: 10px 30px;
    
    
    
}
.navigation{
    display: flex;
    justify-content: space-between;
}
#plus{
    font-weight: bold;
}
#start{
    background-color: tomato;
}
.fruits{
    float: right;
}

    

.grass{
    background-image: url(/assets/Images/image\ 1.png);
    background-position: center;
    background-size: contain;
    height: 400px;
    max-width: none;
    
}
.benefits{
    display: flex;
    text-shadow: #fff;
    margin-right: 100px;
    padding: 80px;
    border-style: solid;
    border-top: #fff 100px;
    border-color: black;
    justify-content: space-evenly;
    border: 100px;
    box-shadow: 5px 5px 2px grey;

}
#exist{
    text-align: left;
    padding-top: 50px;
}
.info{
    text-align: justify;
    font-size: xx-large;
}
#explore{
    background-color: tomato;
    padding: 20px;
}

#beyond{
    text-align: center;
    font-family:'Poppins', 'Inter',sans-serif;
    ;

}
.image3{
    float: right;
    
    
}
#built{
margin: 20px;
display: block;



}

.popular{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    
}

.pop{
    text-align: left;
}


.carrot{
    margin:20px;
    text-align: center;
    
    
}
.cereals{
    margin: 20px;
    text-align: center;
    
}
.fish{
    margin: 20px;
    text-align: center;
}

.kales{
    margin: 20px;
    text-align: center;
}

#fc{
    font-weight: bold;
}
#two{
    font-weight: bold;
}
#cl{
    font-weight: bold;
}
#thousand{
    font-weight: bold;
}
#ff{
    font-weight: bold;
}
#hundred{
    font-weight: bold;
}
#ks{
    font-weight: bold;

}
#fifty{
    font-weight: bold;
}
.Newest{
    display: flex;
      
}
.chicken{
    margin: 20px;
    text-align: center;
}
.rice{
    margin: 20px;
    text-align: center;
}
.mursik{
    margin: 20px;
    text-align: center;
}
.tomatoes{
    margin: 20px;
    text-align: center;
}
#chick{
    font-weight: bold;
}
#seven{
    font-weight: bold;
}
#Ahero{
    font-weight: bold;
}
#r2{
    font-weight: bold;
}
#mrsk{
    font-weight: bold;
}
#mr2{
    font-weight: bold;
}
#ft{
    font-weight: bold;
}
#f5{
    font-weight: bold;
}
.exist{

    float: left;
}
h2{
    text-align: center;
}
#built{
    float:right;
}

#see{
    text-align: right;
    font-weight: bold;
}
#arrow{
    float: right;
    height: auto;
    width: auto;
    color: tomato;
    
}
.customers{
    text-align: left;
    font-size: xx-large;
    font-weight: bold;
}
#ratings{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
    width: auto;
    margin: 20px;
    border: 20px;
}
.star{
  background-color: tomato;
}
.text{
    font-weight: bold;
    font-size: x-large;
}
.Rebecca{
    justify-content: space-evenly;
    border: 100px;
    box-shadow: 5px 5px 2px grey;

}
.John{
    justify-content: space-evenly;
    border: 100px;
    box-shadow: 5px 5px 2px grey;
}
.Lavinton{
    justify-content: space-evenly;
    border: 100px;
    box-shadow: 5px 5px 2px grey;
}
.reviews{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0px;
}

.footer{
    background-color: black;
    color: #fff;
    border-radius: 0%;
    height: 400px;
    
    display:grid;
    display: flex;
    justify-content:space-evenly;
    border-bottom: 200;
    margin-top: 0.5px;  
    margin-bottom: 0.5px;
    border-bottom:1px solid black;
    padding-bottom: 10px;
}
#others{
    font-weight: bold;
  
    

}
#products{
    font-weight: bold;
   
}
#Company{
    font-weight: bold;
}
#agri{
    font-weight: bold;
    
    
}
#App{
    font-weight: bold;
}


.rights{
    position: absolute;
    padding-top: 300px;
    padding-bottom: 120px;
    border-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}
#display{
 background-color: orangered;
}